#meniu{
    height: 50px;
    margin:auto;
    text-align: none;
    background-color: darkslategrey;
    border:1px solid darkslategrey;
    color:white;

}
#navigatie{
    width:15%;
    height:680px;
    float:left;
    margin:auto;
    background-color:darkgray;
}
.navigatie : a:link,a:visited{
    color:red;
}
img{
    width:45px;
    height:45px;
    border-radius:50%;
    float:left;
}
#logo{
    color:gainsboro;
    float:left;
    text-align: left;
}
#container{
    padding:0px;
    margin:0px;
}
a:link{
    color: gainsboro;
    background-color: dimgrey;
    padding: 15px 41%;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
a:visited{
    color:gainsboro;
}
a:hover,a:active{
    background-color: silver;
    color:black;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    
}
#box{
    width: 270px;
    height:129px;
    margin:12px;
    background-color: silver;
    display:inline-block;
}
#mainpage{
    width:80%;
    height:680px;
    float:right;
    margin:auto;
    background-color:white;
    margin:25px;
    overflow: auto;
}